**/target/
/shodrone.backoffice/target/
/shodrone.util.ci/target/
/shodrone.infraestructure.application/target/
/target/
/db/

/.idea/
/logs/
/docs/planning/sprint2/SCOMP/project/obj/
/docs/planning/sprint2/SCOMP/project/reports/
/docs/planning/sprint3/SCOMP/project/obj/
/docs/planning/sprint3/SCOMP/project/reports/
/shodrone.backoffice/logs/
