**/target/
/shodrone.backoffice/target/
/shodrone.util.ci/target/
/shodrone.infraestructure.application/target/
/target/
/db/

/.idea/
/logs/
/docs/planning/sprint2/SCOMP/project/obj/
/docs/planning/sprint2/SCOMP/project/reports/
/docs/planning/sprint3/SCOMP/project/obj/
/docs/planning/sprint3/SCOMP/project/reports/
/docs/planning/sprint3/LPROG/US251/gen/
/docs/planning/sprint3/LPROG/US253/gen/
/docs/planning/sprint3/LPROG/US255/gen/
/docs/planning/sprint3/LPROG/US345/bin/
/shodrone.backoffice/logs/
