<configuration>

    <!-- Silencia todos os logs exceto WARNs e ERROS -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Define onde imprimir -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silenciar logs detalhados do Hibernate -->
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.orm.connections.pooling" level="OFF"/>
</configuration>
